*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}

:root{
    --clear: #242629;
    --dark: #16161a;
    --white: #ffff;
    --greenclear: #3fa796;
}

/* paramètre  */

.green-background{
    background-color: var(--greenclear);
}

.important-txt{
    color: var(--greenclear);
}
/* Navigation  */
nav{
    background-color: var(--dark);
    width: 100%;
    height: 80px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.nav-logo{
    width: 33%;
    height: 100%;
    margin-left: 35px;
    display: flex;
    align-items: center;
   
    

}
.nav-logo h1{
    font-size: 35px;
    color: white;
}

.nav-logo span{
    padding: 10px;
    border-radius: 5px;
}

.nav-liste{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-liste ul{
    display: flex;

}

.nav-liste ul li{
    list-style-type: none;
    padding: 0 10px;
}

.nav-liste ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
}

.nav-contact{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 35px;
}

.nav-contact button{
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 25px;
    padding: 10px;
}

/* Navigation barre END */

/* Profils */

.profils{
    background-color: var(--dark);
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    align-items: center;
   
}
.section-profils{
    width: 50%;
    height: 90%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profils-info h2 {
    color: var(--white);
    font-size: 50px;
}
.profils-info span{
    color: var(--greenclear);
    font-size: 60px;
}

.ligne{
    background-color: var(--greenclear);
    margin-top: 10px;
    width: 100px;
    height: 10px;
}

.diplome-loisir{
    margin-top: 20px;
}
.diplome-loisir h3{
    color: var(--white);
    font-size: 30px;
    margin-bottom: 5px;
}
.diplome-loisir .important-txt{
 color: var(--greenclear);
}

.download-btn-cv button{
    border: none;
    background-color: var(--greenclear);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.photo-presentation{

width: 50%;
height: 90%;
display: flex;
justify-content: center;
align-items: center;
border-left: 5px solid var(--greenclear);
}

.photo-presentation img{
    border-radius: 10px;
    height: 90%;
}
.download-btn-cv{
    margin-top: 5px;
}

/* Profils END */
/* Mon parcours */

.parcours{
    background-color: var(--clear);
    height: calc(100vh - 80px);
    
}

.grid-parcours{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px ;
    padding: 80px 50px;
    overflow: scroll; 
    overflow-x: hidden;
    scrollbar-color: var(--clear) var(--dark);
    scrollbar-width:thin;
    height: 80%;

}
.colonne header h2{
    color: var(--white);
    font-size: 40px;
    padding: 0px 0px 20px 40px;
}
.content-tableau{
    padding: 0px 35px;
    border-left:  2px solid var(--white);
}

.box-pad{
    padding: 10px;
}
.box{
    width: 100%;
    position: relative;
    padding: 10px;
    background-color: var(--dark);
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
    color: white;
}

.box.active{
    animation: inspiration 5s infinite;
}

@keyframes inspiration {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow:  8px 9px 14px 3px var(--greenclear);
    }
    100%{
        box-shadow: none;
    }
}

.box::before{
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    right:  calc(100% + 26px);
    top: 0px;
    background-color: var(--dark);
    border: 2px solid var(--clear);
}

.box.active::before{
    background-color: #3FA796;
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
        box-shadow: 1px 1px 14px 1px #3FA796;
    }
}

.information-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px 5px 10px ;
    border-bottom:  2px solid var(--clear);
}
.information h3{
    color: var(--white);
    font-size: 30px;
}

.description-post{
    margin-bottom: 15px;
    
}

.description-post p{
    color: var(--white);
    font-size: 18px;
}

.statut-diplome{
    margin-bottom: 15px;
}

.statut-diplome h4{
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

/* Compétence */

.competence{
    background-color: var(--dark);
    height: calc(100vh - 80px);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-other{
    height: 50%;
    display: flex;
    padding-top: 80px;
}

.langage{
    background-color: var(--clear);
    width: 50%;
    height: 100%;
    border-radius: 15px;
    margin-right: 5px;
    
}
.content-langage{
    
    height: 50%;
    border-radius: 15px 15px 0 0;
}
.comp-title{
    padding: 10px;
    /* background-color: red; */
    text-align: center;
    margin: 0px 35px;
    border-bottom: 2px solid var(--dark);
}
.comp-title h2{
    
    color: var(--white);
    font-size: 30px;
}

.comp-list{

    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-apprentissage{
    border-radius:   0px 0px 15px 15px ;
    height: 50%;
  
}
.apprentissage-title{
    padding: 10px;
    /* background-color: red; */
    text-align: center;
    margin: 0px 35px;
    border-bottom: 2px solid var(--dark);
    
}
.apprentissage-title h2{
    color: var(--white);
    font-size: 30px;
}
.comp-list ul{
    position: relative;
    padding: 10px;

}
.comp-list ul li{
    list-style-type: none;
    color: var(--white);
    font-size: 25px;
    padding: 5px;
}
.comp-list ul li::before{
    content: '➞';
    position: absolute;
    left: -30px;

}

.list-apprentissage{

    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-apprentissage ul{
    position: relative;
    padding: 10px;

}

.list-apprentissage ul li{
    list-style-type: none;
    color: var(--white);
    font-size: 25px;
    padding: 5px;
}

.list-apprentissage ul li::before{
    content: '➞';
    position: absolute;
    left: -30px;

}

.Autre{
    background-color: var(--clear);
    width: 50%;
    height: 100%;
    border-radius: 15px;
    margin-left: 5px;

}

.autre-title{
    padding: 10px;
    color: var(--white);
    text-align: center;
    margin: 0px 35px;
    border-bottom: 2px solid var(--dark);
    
}

.liste-autre{

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liste-autre ul{
    position: relative;
    padding: 10px;

}

.liste-autre ul li{
    list-style-type: none;
    color: var(--white);
    font-size: 25px;
    padding: 5px;
}

.liste-autre ul li::before{
    content: '➞';
    position: absolute;
    left: -30px;

}

.logiciel-utiliser{
    width: 100%;
    height: 30%;
    background-color: var(--clear);
    margin-top: 10px;
    border-radius: 15px;
}

.title-logiciel{
    padding: 10px;
    /* background-color: red; */
    text-align: center;
    margin: 0px 35px;
    border-bottom: 2px solid var(--dark);
}

.title-logiciel h2{
    color: white;
}

.liste-logiciel{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.liste-logiciel ul{
    display: flex;
    align-items: center;
}

.liste-logiciel ul li{
    list-style-type: none;
    padding: 20px;
    display: flex;
}